<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MarketplaceConnection"
			 connectionString="data source=CHEREMUSHKINPC\SQLEXPRESS;initial catalog=MP_4_TRiZBD;integrated security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
